* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    a {
        padding-right: 1rem;
    }

}

header {
    padding-left: 1rem;
}

main {
    h1 {
        padding-bottom: .5rem;
    }

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

footer {
    padding-left: 1rem;
}